@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clínica Médica</h1>
    <p class="lead">
        Aplicação desenvolvida como trabalho final do curso de pós graduação em desenvolvimento
        Web da Pontifícia Universidade Católica de Minas Gerais
    </p>
</div>

<div class="container">
    <div class="row equal">
        <div class="col-md-4">
            <div class="panel panel-default boxContainer">
                <div class="panel-body">
                    <h2>Paciente</h2>
                    <p>
                        Os pacientes podem editar seus dados cadastrais;
                        agendar, cancelar e pesquisar consultas; pesquisar
                        seus remédios e exames prescritos.
                    </p>
                    <p>
                        <img class="img-responsive center-block" style="width:30%"
                             src="~/Content/imgs/doctor.png" runat="server" />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default boxContainer">
                <div class="panel-body">
                    <h2>Médico</h2>
                    <p>
                        Os médicos podem editar seus dados cadastrais;
                        confirmar, realizar e pesquisar consultas; prescrever,
                        editar e pesquisar remédios e exames.
                    </p>
                    <p>
                        <img class="img-responsive center-block" style="width:30%"
                             src="~/Content/imgs/doctor.png" runat="server" />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default boxContainer">
                <div class="panel-body">
                    <h2>Administrador</h2>
                    <p>
                        Os administradores controlam a aplicação, podendo realizar todas as funcionalidades.
                        Administram os pacientes, médicos, remédios, exames e consultas.
                    </p>
                    <p>
                        <img class="img-responsive center-block" style="width:30%" src="~/Content/imgs/admin.png" runat="server" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
